.main {
  display: grid;
  grid-template-columns: 2.5fr 1fr;
  gap: 15px;
}

.left {

  .query {
  }
  .content {
    margin: 10px 0;
  }

  .card {
    width: 100%;
  }

  .card2 {
    display: flex;
    flex-wrap: wrap;
    //grid-template-columns: repeat(3,1fr);
    gap: 10px;
  }
}
.right {
  max-height: 100vh;
}
